body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(201, 90, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid rgb(201, 90, 201)
}